# Python backend
server/venv/
server/__pycache__/
server/.env

# Node frontend
client/node_modules/
client/dist/

# System files
.DS_Store

# Database (optional if you don't want to upload local test DB)
server/broke_bites.db 